<h1>Writer Name:R Praveen </h1>
<h1>Content:INNOMINDS</h1>
<img src="assets/OIP.jpg">
<P>
    Mission & Vision
    We are emerging markets driven and focused around the product life cycle of technology focused companies. From idea to commercialization, we strive to build convergent solutions that help our clients grow their business and realize their market vision.
    
    Our Evolution
    We started as many companies do by being opportunistic. We have since evolved to become a dedicated product incubation partner for the best technology focused companies in the world.
    
    When you do business with Innominds you don’t get another “me too” services company, you get a business partner that helps technology focused companies compete and stay relevant in their respective markets.
    <a href="url">https://www.innominds.com/about
    </a>
    
</P>
