.username{
	width: 500px;
	height: 40px;
	background-color: azure;


}
.surname{

width: 500px;
	height: 40px;
	background-color: azure;
	font-size: medium;

}
.email{
	
width: 500px;
height: 40px;
background-color: azure;
font-size: medium;


}
.mblno{
	width: 500px;
	height: 40px;
	background-color: azure;
	font-size: medium;
	
}
.gender{
	width: 500px;
	height: 40px;
	background-color: azure;
	font-size:medium;
	
}
.pass{
	width: 500px;
	height: 40px;
	background-color: azure;
	font-size: medium;
	
}
