<!-- <nav class="navbar navbar-light" style="background-color:goldenrod">
    <a class="navbar-brand" href="#">BLOG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/sign-up">sign-up</a>
        <a class="nav-item nav-link" routerLink="/login">Login</a>
        <a class="nav-item nav-link" routerLink="/contentpage">contentpage</a> 
        


      </div>
    </div>
  </nav> -->
  <div class="home" style="background-image: url('image3.jpg');">
    
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/sign-up">Signup</a></li>
    <li><a href="/login">Login</a></li>
    <!-- <li style="float:right"><a class="active" href="/login">About</a></li> -->
    <!-- <li style="float:left"><a class="active" href="/BLOG">BLOG</a></li> -->
  </ul>
  </div>
    
      
      <div class = "column">
        <img target="_blank" src='assets/image3.jpg' style="width:100%"/>
      </div>
  
    <!-- <div class="row2">
      <div class = "column">
        <img src='' style="width:100%"/>
      </div>
    </div> -->
  
